<div class="content">
<br />
<h3 class="color">Welcome</h3>

<br />

<p class="welcome">
  This is your own personal library catalog system. The goal of this application 
  is to make it easy for everyone to catalog their personal media collections. 
  Whether you collect music, DVD's, books, art, or anything else this site will 
  give you a place to create and organize a catalog all your own.  Based on old 
  library card catalogs you will be able to add fields for such things as titles, 
  authors, artists, descriptions, etc.
</p>

<br /><br />
<div class="clear"></div>
<h2 class="color">Get Started</h2>
<br /><br />
<%= link_to "Add a Book", new_material_path, class: 'links' %>
<br />
<%= link_to "My Personal Library", materials_index_path, class: 'links' %>
</div>