@import "bootstrap";
@import 'books.scss';

.header {
    text-align: center;
    background-image: image-url('test.jpg');
    background-size: cover;
    padding: 50px;
    margin: 20px 20px;
    font-family: 'Goudy Bookletter 1911', serif;
    height: 200px;
}

h1.text-center {
    color: #447c5f;
}


.content {
    margin: 40px;
    font-family: 'Goudy Bookletter 1911', serif;

}

.color {
    color: brown;
    font-size: 50px;
    margin-bottom: 0px;
    text-align: center;
    font: bold;
}



.welcome {
    font-size: 18px;
    font-weight: bold;

}


.format-box {
    font-family: Arial;
    color: blue;
    
}

.navbar .nav-link {
    color: black;
    font-family: Ariel;
    font-size: 20px;
    font-weight: bold;
}

.links {
    color: #1F09E3;
}

.boxy {
    box-shadow: 5px 5px 5px 1px grey;
    background-color: #F4EDF7;
    padding: 10px;
    border: 2px;
}

body {
    background-color: #D9FFEB;
}

.btn {
    text-align: center;
    font-weight: 600;
}

.pagination {
    margin-bottom: 5px;
    font-weight: bold;
}

.pagination span {
    color: #447c5f;
    font-weight: 400;
}

a.previous_page {
    color: #447c5f;
    margin-left: auto;
}

a.next_page {
    color: #447c5f;
    margin-left: auto;
}

.pagination a {
    color: #447c5f;
}

em.current {
    color: black;
}

button.btn.btn-link {
    color: #266344;
    text-decoration: underline;
}