<h1>My Materials</h1>
<br />

<%= @material.each do |item| %>
    <h3><%= item.title %></h3>
    <h5>
        <%= item.author %>
        <br />-<%= item.description %>
    </h5>
    <br /><br />
<% end %>

